/* .wrapper {
    display: flex;  
    display: -webkit-flex;
    flex-flow: column nowrap;
    align-items:stretch;
    text-align: center;
    flex-grow:1;
    height: 1000px;
  }
  
  .header {
    background: tomato;
    flex-basis:120px
  }
  
  .footer {
    background: lightgreen;
    flex-basis:50px
  }
  
  .body {
    display: flex;  
    flex-flow: row nowrap;
    align-items:stretch;
    text-align: center;
    flex-grow: 1;
  }
  .main {
    background: deepskyblue;
    flex-grow: 2;
    max-width: 1200px;
  }
  
  .aside-left {
    background: gold;
    flex-grow: 1;

  }
  
  .aside-right {
    background: hotpink;
    flex-grow: 1;
  }
  
.Navbar{
    background: aliceblue;
    padding: 20;
    display: flex;  
    flex-flow: row nowrap;
    align-content: flex-end;
}

.ProjectName{
    background: brown;
    flex-grow: 1;
    text-align: center;
    align-items:stretch;
}
.Menue{
    background: burlywood;
    padding: 15px;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items:flex-end;
}
.MenueItem{
    background-color: coral;
    padding: 10px;
} */